@font-face {
  font-family: Raleway;
  src: url('../fonts/Raleway-Regular.ttf');
}

@font-face {
  font-family: "Raleway Thin";
  src: url('../fonts/Raleway-Thin.ttf');
}

@font-face {
  font-family: "Raleway Bold";
  src: url('../fonts/Raleway-Bold.ttf');
}

.button {
  font-family: Raleway !important;
}

body {
  font-family: Raleway;
  margin: 0px !important;
  padding: 0px !important;
}

a {
  text-decoration: none;
}

h1, 
h2, h3, 
h4, h5, h6 {
  font-family: "Raleway Thin";
}

label {
  display: block;
  font-size: 15px;
  margin: 10px auto;
}

.brand {
  font-size: 24px;
}

.flex-box {
  display: flex;
  flex-direction: row;
}

.flex-box > div {
  width: 50%;
}

.teal {
  color: teal;
}

.flex-box > div:nth-child(2) {
  align-content: right;
}

.form-box {
  width: 400px;
  padding: 40px;
  margin: 10% auto auto auto;
  border-radius: 25px;
  border: 2px solid #e1e1e1;
}

.form-box .head {
  margin: 10px 0px 30px 0px;
  text-align: center;
}

.error-box {
  width: 400px;
  color: lightcoral;
  padding: 10px 20px;
}

.spacer {
  margin: 30px auto auto auto;
}

.large-text {
  font-size: 39px;
}

.gray {
  color: #e1e1e1;
}

.medium-text {
  font-size: 30px;  
}

.small-text {
  font-size: 23px;
}

.tiny-text {
  font-size: 18px;
}

.white {
  color: #ffffff;
}

.full-width {
  width: 100%;
}

.curved-edge {
  border-radius: 50px !important;
}

.padded {
  padding-right: 40px !important;
  padding-left: 40px !important;
}

.info {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  margin: 50px auto auto auto;
}

.left-radi {
  border-top-left-radius: 18px !important;
  border-bottom-left-radius: 18px !important;
}

.right-radi {
  border-top-right-radius: 18px !important;
  border-bottom-right-radius: 18px !important;
}